.info-wave {
    position: relative;
}

.about-hero{
    position: relative;
}

.bottom-div{
    position: relative;
}

.aboutme {
   text-align: center; 
}

.aboutme h2 {
   font-size: 70PX;
   font-weight: bolder;
   color: black;
}

.aboutme p {
    font-size: 40px;
    font-weight: 900;
    min-width: 500px;
    max-width: 1000px;
    padding: 90px;
    padding-top: 0;
    color: #6F4854;
}

.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding-bottom: 6vh;
}

.infobar{
    background-color: #C08497; 
    text-align: center;
    padding: 40px;
    margin: 0;
    height: 18vh;
}


.infobar li {
    font-size: 30px;
    color: #6F4854;
}

.infobar li span {
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    color: white;
 }
 

#face {
    border-radius: 50% ;
    width: 600px;
}


/* Dynamic spaced elements */
/* https://www.w3schools.com/howto/howto_css_topnav_equal_width.asp */
.infobar li {
    display: inline-block; 
    text-align: center;
    width: 30%
}  

/* shape divider app  https://www.shapedivider.app/ */
.bottom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.bottom-wave svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 138px;
}

.bottom-wave .shape-fill {
    fill: #FFCAD4;
}

@media screen and (min-width: 1201px) {
    #face{
        display: center;
    }
} 
