.menu {
    text-align: right;
    margin: 0%;
}
.menu li {
    padding: 30px;
    font-size: 40px;
    display: inline-block; 
    color:white
}

.menu li:hover {
    cursor: pointer;
    color: #6F4854;
}
