.shop-hero {
    align-items: center;
    position: relative;
    height: 32vh;
  }
  @media (max-width: 2480px) {
    .shop-hero {
      height: 52vh;
    }
  }
  @media (max-width: 1418px) {
    .shop-hero {
      height: 82vh;
    }
  }
  @media (max-width: 1080px) {
    .shop-hero {
      height: 92vh;
    }
  }
  @media (max-width: 710px) {
    .shop-hero {
      height: 152vh;
    }
  }
  

  /* .item-container {
    width: 80%;
    text-align: center;
  }
  
  .item img {
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
  }
  
  @media (max-width: 800px) {
    .item img {
      width: 150px;
      height: 150px;
    }
  }
  
  @media (max-width: 600px) {
    .item img {
      width: 100px;
      height: 100px;
    }
  }  */



 .item {
    display: inline;
    padding: 5px;
  }

  .item img {
    border-radius: 50%;
    width: 340px;
  }

  .item-container {
    text-align: center;
  }

  .shop-hero {
    text-align: center;
  }

  .shop-all {
    padding: 10px 20px;
   
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    align-items: center;
  } 

  .shop-all button{
     width: 200px;
     height: 50px;
     font-size: 20px;
     border-radius: 20px;
     cursor: pointer;
     color: white;
     font-weight: bold;
     background-color: #C08497;;
  }
