 .title {
    color: white;
    font-family: 'nunito';
    font-size: 250px;
    font-weight: 900;
    line-height: 250px;
    width: 900px;
    margin-top: 4vh;
}

.hero {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    margin: 0;
    background-image: url('../images/circle-scatter-haikei.svg');
}

@media (min-width: 1281px) {
    .hero-body{
        padding-left: 10vh;
        color: #6F4854;
        
    }
    .needle-logo{
        text-align: center;
        float: right;
    }
    .needle-logo img{
        width: 700px;
    }
}

.hero-body p {
    font-size: 50px;
    font-weight: 900;
    color: #6F4854;
}
.top-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.top-wave svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 106px;
}

.top-wave .shape-fill {
    fill: #C08497;
}

#shop-link {
    float: right;
    margin-right: 20px;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: table;
    text-align: center;
}
#shop-link:hover{
    cursor: pointer;
    background-color: #C08497; 
}

#shop-link:hover a{
    color: white;
}

#link {
    display: table-cell;
    vertical-align: middle;
}

#shop-link img {
    width: 180px;
}

#shop-link a {
    font-size: 30px;
    font-weight: 900;
    display: block;
    text-decoration: none;
} 


@media (max-width: 1280px) {
    .hero{
        height: 85vh 
    }
    .title {
        font-size: 80px;
        text-align: center;
    }
    .needle-logo{
        text-align: center;
    }
    .needle-logo img{
        width: 700px;
    }
    #shop-link {
        display: none
      
    }
    #shop-link a {
        display: none
    }
    #shop-link img {
        display: none
    }
  }