.menu {
    background-color: pink;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu li {
    margin: 5px;
    font-size: 30px;
}

.logo {
    text-align: left;
    margin-right: auto;
}